@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.portal-page {
}

.portal {
  flex-grow: 1;
  height: 100vh;
  position: relative;
  width: 100%; // overflow: hidden;
  &__header {
    // position: absolute;
    margin: 1rem;
    padding: 1rem;
    z-index: 1;
    background: $primary-medium;
    border-radius: $border-radius;
    display: flex;
    align-items: end;
  }
  &__heading {
    margin: 0;
    margin-right: 1rem;
    font-size: 3rem;
  }
  &__subheading {
    // subheading font-size doesnt work here
    font-size: 2.25rem;
  }
}

.add-elements {
  position: absolute;
  top: 6.5rem;
  // height: 80%;
  right: 0;
  padding: 2rem;
  margin: 1rem;
  z-index: 2;
  background-color: $secondary-light-transparent;
  border-radius: $border-radius;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.toAdd {
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 7rem;

  max-width: 10rem;
}

.inPortal {
  position: absolute;
  max-height: 90%;
  max-width: 90%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.in-portal {
  height: 100%;
  top: 5rem;
  left: 3rem;
}

.element {
  padding: 0.25rem;
  resize: both;
  overflow: auto;
  width: 10rem;
  // width: fit-content;
  &__delete {
    position: absolute;
    top: 0;
    right: 0;
    background-color: inherit;
    font-size: 0.75rem;
    border: none;
    color: red;
    padding: 0;
    cursor: pointer;
  }
  &__image {
    width: 100%;
    pointer-events: none;
  }
}
