@use "./variables" as *;
@use "./mixins" as *;

/* general reformatting */
*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* general body styles */
body {
  font-family: sans-serif;
  margin: 0;
  background-color: $primary-background;
}
