// TODO: make this sass compatible?

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror-focused {
  outline: none;
  border: 1px solid $primary-dark;
  border-radius: $border-radius;
}

.ProseMirror {
  padding: 0.25rem;
}

.menu {
  display: flex;
  gap: 2px;
  padding-top: 0.5rem;
  &__btn {
    @include button-icon;
    filter: invert(64%) sepia(28%) saturate(216%) hue-rotate(115deg)
      brightness(93%) contrast(89%);

    &--active {
      @include button-icon;
    }
  }
}

.icon {
  @include icon;
  &--highlighter {
    padding: 2px;
  }

  &--color {
    padding: 0;

    background-color: inherit;
    border-color: $primary-dark;
  }
}
